:root {
  --digikids-pink: brown;
  --digikids-blue: brown;
  --digikids-orange: brown;
  --digikids-darkblue: brown;
  --sm-font: 1.5em;
  --nm-font: 1.8em;
  --lg-font: 2.5em;
  --xl-font: 3em;
  --xxl-font: 5em;
}

body {
  /* font-family: */
  font-size: 10px;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5em;
}

p {
  font-size: var(--nm-font);
}
